.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .popup-content {
        padding: 50px;
        background-color: white;
        width: 1000px;
        height: 500px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: "name invite"
            "desc invite"
            "desc btn";
        column-gap: 40px;

        input {
            grid-area: "name";
            align-self: center;
            // margin: 20px 0;
            width: 100%;
            height: 50px;
            outline: none;
            border: none;
            border-bottom: 1px solid rgb(226, 226, 226);
            font-size: 18px;
            padding: 0;
        }

        textarea {
            grid-area: desc;
            // margin: 20px 0;
            width: 100%;
            height: 100%;
            color: rgb(94, 94, 94);
            border-color: rgb(226, 226, 226);
            padding: 8px;
            resize: vertical;
            font-size: 18px;
            line-height: 1.75;
            box-sizing: border-box;
        }
    
        .invite-members{
            grid-area: invite;
        }
        .btn-group {
            grid-area: btn;
            justify-self: end;
            align-self: flex-end;

            button {
                outline: none;
                border: none;
                background-color: transparent;
                padding: 16px 18px;
                font-size: 20px;
            }

            .positive {
                background-color: rgb(220, 241, 248);
                color: rgb(46, 112, 255);
            }

            .negative {
                background-color: #EEE;
                color: #222;
            }

        }
    }
}