.popup.create-ticket{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;

    .ticket-content {
        position: relative;
        background-color: #121212;
        width: 1000px;
        height: 700px;
        display: grid;
        padding: 30px;

        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 50px 1fr 3fr 1fr;//repeat(4, 1fr);
        grid-template-areas: 
            "title title"
            "question tag"
            "body tag"
            "btn empty";
        align-items: center;
        column-gap: 30px;

        h1{
            grid-area: title;
        }
        
        .close-btn {
            font-size: 40px;
            height: fit-content;
            width: fit-content;
            position: absolute;
            top: 30px;
            right: 30px;
        }

        input {
            grid-area: question;
            // margin: 20px 0;
            width: 100%;
            height: 50px;
            background-color: #121212;
            outline: none;
            border: none;
            border-bottom: 1px solid rgb(226, 226, 226);
            font-size: 18px;
            padding: 0;
        }

        textarea {
            grid-area: body;
            // margin: 20px 0;
            width: 100%;
            height: 100%;
            background-color: #222222;
            color: white;
            border-color: rgb(226, 226, 226);
            padding: 8px;
            resize: vertical;
            font-size: 18px;
            line-height: 1.75;
            box-sizing: border-box;
        }
        
        .collumn{
            grid-area: tag;
            height: 100%;
            .tag-container{
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .tag{
                    border: 1px solid white;
                    border-radius: 10px;
                    width: fit-content;
                    padding: 5px;
                    margin: 5px;
                }
                .tag.active{
                    color: #BB86FC;
                    border-color: #BB86FC;
                }
            }
        }
        .btn-group{
            grid-area: btn;
            justify-self: end;
            button{
                outline: none;
                border: none;
                background-color: transparent;
                padding: 16px 18px;
                font-size: 20px;
            }
            .positive{
                background-color:  #BB86FC;
                color:  white;
            }
            .negative{
                background-color:#CF6679;
                color: white;
            }
        }
    }
}

.logo{
    margin-top: 60px;
}

.miniHeader {
    margin-top: 150px;
}

.titleTwo{
    color:#BB86FC;
}

.headingOne{
    color:#BB86FC;
}