.studentDashboard {
    width: 100%;
}

.studyGroupContainer {
    text-align: center;
    position: relative;
    margin: 70px auto;
    width: 100%;
}

.scroller {
    overflow-x: auto;
    overflow-y: hidden;
    height: 200px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.studyGroup {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #222222 ;
    margin: 0 20px;
    // width: 125px;
    height: 125px;

    word-break: break-word;

    flex-basis: 125px;
    flex-grow: 0;
    flex-shrink: 0;
}

.studyGroup:hover {
    background-color:  #BB86FC;
}


.tickets {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submittedTickets {
    padding: 25px;
    justify-content: center;
    border-radius: 25px;
    height: 800px;
    width: 625px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #222222 ;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 15px;
            border-radius: 20px;
        }

        li:hover {
            background-color:  #BB86FC;
        }
    }
}

.returnedTickets {
    padding: 25px;
    justify-content: center;
    border-radius: 25px;
    height: 800px;
    width: 625px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #222222 ;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 15px;
            border-radius: 20px;
        }

        li:hover {
            background-color:  #BB86FC;
        }
    }
}

.createTicket {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 250px;
    padding-left: 250px;
}

.createTicket:active {
    background-color: #BB86FC;
}

.logo{
    margin-top: 60px;
}

.miniHeader {
    margin-top: 150px;
}

.greeting{
    color: #BB86FC;
}