<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Hack it Better!</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/createGroup.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="popup">
        <div class="popup-content">
            <input type="text" placeholder="Name of Group?">
            <textarea name="" id="" cols="30" rows="10" placeholder="What is this group for?"></textarea>
            <div class="invite-members">
                <h1>invite</h1>
            </div>
            <div class="btn-group">
                <button class="negative">Cancel</button>
                <button class="positive">Create</button>
            </div>
        </div>
    </div>
</body>

</html>