<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Viral Learning!</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/assignments.css">
    <link rel="stylesheet" href="../public/css/student.css">
    <link rel="stylesheet" href="../public/css/createticketpopup.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="popup">
        <div class="ticket-content">
            <h1 class = "titleTwo">Submit a Ticket</h1>
            <input type="text" name="title" placeholder="Question">
            <textarea name="body" id="" cols="20" rows="10" placeholder="Describe your problem"></textarea>
            <div class="collumn">
                <h1 class = "headingOne">select tags</h1>
                <ul class="tag-container">
                    <li class="tag">
                        worksheet1
                    </li>
                    <li class="tag">
                        worksheet1
                    </li>
                    <li class="tag">
                        worksheet1
                    </li>
                    <li class="tag">
                        worksheet1
                    </li>
                    <li class="tag">
                        worksheet1
                    </li>
                    <li class="tag">
                        worksheet1
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="negative">Cancel</button>
                <button class="positive">Send</button>
            </div>
        </div>
    </div>
</body>

</html>
<!-- BREH OH SHIT THEYRE PLAYING RANKED!!! HOLD ON  -->