<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>
        Hack it Better!
    </title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sideBar">
        <!-- <img class="logoImage"
            src="https://media1.thehungryjpeg.com/thumbs2/ori_3505924_720ecd41883dc371bb032892844f0fd63e226ab4_teacher-professor-standing-in-front-of-blank-school-blackboard-vector.jpg"> -->

        <h5 class="miniHeader">Classes</h5>

        <div class="classroom">
            <img class="heightWidth"
                src="img/science_dark.png">
            <h4 class="classNameText">Science</h4>
        </div>

        <div class="classroom">
            <img class="heightWidthMath" 
                src="img/math_dark.png">
            <h4 class="classNameText">Math</h4>
        </div>

        <div class="classroom">
            <img class="heightWidth"
                src="img/english_dark.png">
            <h4 class="classNameText">English</h4>
        </div>

        <div class="classroom">
            <img class="heightWidth"
                src="img/money_dark.png">
            <h4 class="classNameText">Economy</h4>
        </div>
    </div>
</body>

</html>