<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>
        Hack it Better!
    </title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/assignments.css">
    <link rel="stylesheet" href="../public/css/student.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sideBar">
        <!-- <img class="logoImage"
            src="https://media1.thehungryjpeg.com/thumbs2/ori_3505924_720ecd41883dc371bb032892844f0fd63e226ab4_teacher-professor-standing-in-front-of-blank-school-blackboard-vector.jpg"> -->

        <h5 class="miniHeader">Classes</h5>

        <div class="classroom">
            <img class="heightWidth" src="../public/img/science_dark.png">
            <h4 class="classNameText">Science</h4>
        </div>

        <div class="classroom">
            <img class="heightWidthMath" src="../public/img/math_dark.png">
            <h4 class="classNameText">Math</h4>
        </div>

        <div class="classroom">
            <img class="heightWidth" src="../public/img/english_dark.png">
            <h4 class="classNameText">English</h4>
        </div>

        <div class="classroom">
            <img class="heightWidth" src="../public/img/money_dark.png">
            <h4 class="classNameText">Economy</h4>
        </div>

    </div>
    <main>
        <div class=studentDashboard>
            <h1 class="greeting">Good Afternoon Johnny!</h1>

            <!-- display dashboard -->
            <div class="studyGroupContainer">
                <div class="scroller">
                    <div class="studyGroup">Create Study Group</div>
                    <div class="studyGroup">Study Group 1</div>
                    <div class="studyGroup">Study Group 2</div>
                    <div class="studyGroup">Study Group 3</div>
                    <div class="studyGroup">Study Group 4</div>
                    <div class="studyGroup">Study Group 5</div>
                    <div class="studyGroup">Study Group 6</div>
                    <div class="studyGroup">Study Group 7</div>
                    <div class="studyGroup">Study Group 8</div>
                    <div class="studyGroup">Study Group 8</div>
                    <div class="studyGroup">Study Group 8</div>
                    <div class="studyGroup">Study Group 8</div>
                </div>
            </div>

            <div class="tickets">
                <div class="submittedTickets">
                    <h3>Submitted Tickets</h3>
                    <ul>
                        <li class="ticket">
                            <p class="ticket-subject">
                                How do I solve q5?
                            </p>
                            <p class="author">
                                JQ-123456
                            </p>
                        </li>
                        <li class="ticket">
                            <p class="ticket-subject">
                                How do I solve q5?
                            </p>
                            <p class="author">
                                JQ-123456
                            </p>
                        </li>
                        <li class="ticket">
                            <p class="ticket-subject">
                                How do I solve q5?
                            </p>
                            <p class="author">
                                JQ-123456
                            </p>
                        </li>
                    </ul>
                    <button onclick="togglePopup()">Create New Ticket</button>
                </div>
                <div class="returnedTickets">
                    <h3>Returned Tickets</h3>
                    <ul>
                        <li class="ticket">
                            <p class="ticket-subject">
                                How do I solve q5?
                            </p>
                            <p class="author">
                                JQ-123456
                            </p>
                        </li>
                        <li class="ticket">
                            <p class="ticket-subject">
                                How do I solve q5?
                            </p>
                            <p class="author">
                                JQ-123456
                            </p>
                        </li>
                        <li class="ticket">
                            <p class="ticket-subject">
                                How do I solve q5?
                            </p>
                            <p class="author">
                                JQ-123456
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>