<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>
        Hack it Better!
    </title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/studyGroup.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sideBar">
        <!-- <img class="logoImage"
            src="https://media1.thehungryjpeg.com/thumbs2/ori_3505924_720ecd41883dc371bb032892844f0fd63e226ab4_teacher-professor-standing-in-front-of-blank-school-blackboard-vector.jpg"> -->

        <h5 class="miniHeader">Classes</h5>

        <div class="classroom">
            <img class="heightWidth" src="../public/img/science_dark.png">
            <h4 class="classNameText">Science</h4>
        </div>

        <div class="classroom">
            <img class="heightWidthMath" src="../public/img/math_dark.png">
            <h4 class="classNameText">Math</h4>
        </div>

        <div class="classroom">
            <img class="heightWidth" src="../public/img/english_dark.png">
            <h4 class="classNameText">English</h4>
        </div>

        <div class="classroom">
            <img class="heightWidth" src="../public/img/money_dark.png">
            <h4 class="classNameText">Economy</h4>
        </div>
    </div>
    <main>
        <div class="chat-container">
            <h1>Chemistry Study Group</h1>
            <div class="texts-container">
                <div class="text">
                    <img class="classmatePFP" src="../public/img/iconfinder_discord_3069758.png">
                    <div>
                        <h3>Tony Bob</h3>
                        <p>BREH THEYRE PLAYING RANKED!!!</p>
                    </div>
                </div>

                <div class="text">
                    <img class="classmatePFP" src="../public/img/iconfinder_discord_3069758.png">
                    <div>
                        <h3>Bjergerking Soren</h3>
                        <p>HOLD ON !!!!!!!!!</p>
                    </div>
                </div>

                <div class="text">
                    <img class="classmatePFP" src="../public/img/iconfinder_discord_3069758.png">
                    <div>
                        <h3>DOUBLELIFT PENG</h3>
                        <p>*DISCORD_DISCONNECT.mp3*</p>
                    </div>
                </div>

                <div class="text">
                    <img class="classmatePFP" src="../public/img/iconfinder_discord_3069758.png">
                    <div>
                        <h3>DOUBLELIFT PENG</h3>
                        <p> 30 mins later... *DISCORD_JOIN.mp3*</p>
                    </div>
                </div>
            </div>

            <div class="sendMessage">
                <input type="text">
                <button>Send</button>
            </div>

            <div class="classmates">
                <h3>Members</h3>
                <img class="classmatePFPinColumn" src="../public/img/iconfinder_discord_3069758.png">
                <img class="classmatePFPinColumn" src="../public/img/iconfinder_discord_3069758.png">
                <img class="classmatePFPinColumn" src="../public/img/iconfinder_discord_3069758.png">
            </div>
        </div>

    </main>
</body>

</html>